
.item2{
    background-color: rgb(197, 197, 197);
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.item4 div{
    width: 100%;
}

img{
    width: 200px;
    border-radius: 50%;
}