/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/bootstrap-grid-system.min.css";

body, html { padding: 0; margin: 0; height: 100%; font-family: Roboto, Helvetica, sans-serif !important; }

/* 
    Global Styles
*/
.icon{
    user-select: none;
}

.cursor-point{
    cursor: pointer;
}

.center-items{
    display: flex;
    justify-content: center;
}



/* 
    Search Input
*/
.search-input{
    .mat-form-field-wrapper{
        padding-bottom: 0 !important;
    }
    
    .mat-form-field-outline *{
        border-color: white !important; 
    }
    
    .mat-form-field-outline-thick *{
        border-width: 1.5px !important;
    }
    
    .mat-form-field-infix{
        padding: unset;
        border-top: unset;
    }
    
    .mat-form-field-flex{
        padding: 0 !important;
    }
    
    .mat-form-field-infix{
        padding: 10px !important;
    }
    
    .mat-form-field-suffix{
        padding-right: 12px;
        top: 10px !important;
        cursor: pointer;
    }
    
    .mat-input-element{
        vertical-align: middle !important;
    }
    
    .mat-input-element::placeholder{
        color: rgb(223, 223, 223) !important;
    }
}



/* 
    Contact Inputs Styles
*/
.contact-inputs{
    .mat-form-field-wrapper{
        padding-bottom: 0 !important;
        height: 100%;
    }

    .mat-form-field-flex{
        height: 100%;
        padding: .75em !important;
        border-radius: unset !important;
    }

    .mat-form-field-infix{
        height: 100%;
        padding: unset;
        border-top: unset;
    }

    .mat-input-element{
        height: 100%;
        font-size: 20px;
        top: 3px;
        position: relative;
        caret-color: #222;
    }

    .mat-form-field-underline{
        display: none;
    }
}



/* 
    List Menu
*/
.mat-list-item-content{
    padding: 0px !important;
}



/* 
    Progress Bar
*/
.mat-progress-bar-primary::after,
.mat-progress-bar-secondary::after{
	background-color: #696969;
}

.mat-progress-bar-buffer{
	background-color: #d0d0d0;
}



/* 
    Scrollbat Styles
*/

/* This works only on Chrome, Opera, Safari */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9b9b9b;
}

.mat-drawer-inner-container{
    &::-webkit-scrollbar {
        width: 6px;
    }
}

/* This works only on Firefox */
.mat-drawer-inner-container{
    scrollbar-width: thin;
    scrollbar-color: light;
}





.item2{
    overflow-y: auto !important;
}

.item2 .mat-figure{
    align-items: initial !important;
    justify-content: initial !important;
}

.item3{
    overflow-y: auto !important;
    height: 100%;
}

.item3 .mat-figure{
    align-items: flex-start !important;
    justify-content: initial !important;
    position: initial !important;
    flex-wrap: wrap;
}

.card{
    margin: 5px;
    flex-grow: 1;
}

.expansion{
    margin: 5px;
}





.mt-10{
    margin-top: 10px;
}

.ml-5{
    margin-left: 5px;
}

.item1 .mat-figure{
    height: fit-content !important;
    flex-wrap: wrap;
}

.item1 .mat-figure mat-form-field,
.item1 .mat-figure mat-radio-group
{
    flex-grow: 1;
    width: 100%;
}

.item4 .mat-figure{
    justify-content: center !important;
    flex-wrap: wrap;
}
