<mat-list role="list" (click)="menuToggle()">
  <mat-list-item role="listitem">
    <a class="link-icon" routerLink="/">
      <mat-icon class="icon cursor-point">home</mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a class="link-icon" routerLink="/account">
      <mat-icon class="icon cursor-point">account_box</mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a class="link-icon" routerLink="/setting">
      <mat-icon class="icon cursor-point">settings</mat-icon>
    </a>
  </mat-list-item>
</mat-list>