.mat-expansion-panel{
    box-shadow: none;
    border-bottom: 1px solid #c2c2c2;
}

.mat-expansion-panel-header{
    padding: 0 15px;
}

.link-icon{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 25px;
    margin: 0px 10px;
    color: #222222;
    text-decoration: none;
}

.link-icon label{
    font-size: 12px;
}

.link-icon:focus{
    outline: none;
}

mat-list-item{
    margin-bottom: 10px;
}